@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@300;400&display=swap");
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  width: 400%;
  height: 400%;
  background: #333;
  opacity: 0.8;
  z-index: 90;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.overlay--visible {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 1s;
  transition: all 1s;
  bottom: 0;
  right: 0;
}

.header {
  background: #F5F7FF;
  -webkit-box-shadow: 0px 4px 23px rgba(49, 49, 49, 0.05);
          box-shadow: 0px 4px 23px rgba(49, 49, 49, 0.05);
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 36px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 0px 67px 0px 56px;
}
.header__top-nav .top-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top-nav .top-nav__item {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: #272323;
  line-height: 1.7142857143;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
}
.header__top-nav .top-nav__item:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  color: black;
}

.search-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 307px;
  margin-right: 26px;
}
.search-container input {
  padding: 0px 0px 0px 20px;
  border-radius: 50px;
  max-height: 35px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 4.4285714286;
  font-weight: 400;
}
.search-container input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 4.4285714286;
  font-weight: 400;
  align-self: center;
}
.search-container input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 4.4285714286;
  font-weight: 400;
  align-self: center;
}
.search-container input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 4.4285714286;
  font-weight: 400;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.search-container input::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 4.4285714286;
  font-weight: 400;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.search-container input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 4.4285714286;
  font-weight: 400;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.search-container input::-webkit-search-cancel-button {
  display: none;
}
.search-container a {
  width: 28px;
  height: 28px;
  background: rgba(192, 194, 248, 0.2196078431) 0% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: absolute;
  right: 6px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.search-container a:hover {
  background: #FF5C00;
}
.search-container a:hover path {
  fill: #fff;
}

.header__top-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 3.875;
  font-weight: 400;
}
.header__top-btns a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  white-space: nowrap;
}
.header__top-btns a:hover {
  color: #4238AF;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 31px;
}

.header__body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  padding-bottom: 126px;
  max-width: 543px;
}

.header__body-title {
  font-family: "Oswald", sans-serif;
  font-size: 3.4375rem;
  line-height: 1;
  font-weight: 400;
  color: #353434;
  text-align: left;
  max-width: 504px;
}
.header__body-title span {
  color: #FF5C00;
}

.header__body-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: 400;
  color: #A8A8A8;
}

.header__body-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
}
.header__body-btns .body-btn {
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  color: #fff;
  padding: 12px 22px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #544CAC;
  display: block;
  min-width: 150px;
}
.header__body-btns .body-btn:hover {
  background: transparent;
  color: #333;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.header__body-btns .body-btn__watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__body-btns .body-btn__watch::before {
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: block;
  background: url(../../content/logos/logo-play.svg) center no-repeat, #fff;
}

.body-btn__watch:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header__body-image {
  min-width: 300px;
}
.header__body-image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.logos {
  padding: 20px 0px 66px 0px;
}

.logos__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.logos__list a path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.logos__list a:hover path {
  fill: black;
}

.works {
  padding-bottom: 59.5px;
}

.works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 59.5px;
}

.works__content {
  max-width: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 73px;
}

.works__content-title {
  max-width: 435px;
}

.small-title {
  font-family: "Oswald", sans-serif;
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 400;
  color: #FF5C00;
}

.works__heading {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 400;
  color: #353434;
}

.works__content-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}

.content-cards__item {
  background: #F5F7FF;
  border-radius: 8px;
}

.content-cards__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  padding: 14px 4px 14px 14px;
}

.content-cards__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-cards__upper svg {
  margin-right: 17px;
}

.content-cards__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.875;
  font-weight: 600;
}

.content-cards__number {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
}

.square-1 {
  background: #F3E0FF;
  color: #9444C9;
}

.square-2 {
  background: #E7E9FE;
  color: #626FFF;
}

.square-3 {
  background: #FFDECC;
  color: #FF5C00;
}

.content-cards__bottom {
  margin-left: 45px;
  display: none;
}
.content-cards__bottom .content-cards__text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 1.8333333333;
  font-weight: 400;
  color: #A8A8A8;
}

.works__video {
  width: 635px;
  height: 433px;
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 41px;
  margin-left: 15px;
}
.works__video .video-wrapper {
  width: 635px;
  height: 433px;
}

.button-play {
  position: absolute;
  background: #333;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-play svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-play:hover {
  background: #fff;
}
.button-play:hover svg path {
  fill: #333;
}

.accor-list__link--active .content-cards__upper svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content-cards__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.content-cards__link .content-cards__upper svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.choose {
  padding-top: 59.5px;
  padding-bottom: 59.5px;
}

.choose__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.choose__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose__heading-title {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 400;
  color: #353434;
  margin-bottom: 20px;
}

.choose__heading-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: 400;
  color: #A8A8A8;
  max-width: 545px;
  text-align: center;
}

.choose__cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.choose__cards-link {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: -1px 1px 20px rgba(128, 128, 128, 0.1);
          box-shadow: -1px 1px 20px rgba(128, 128, 128, 0.1);
  border-radius: 20px;
  max-width: 350px;
}
.choose__cards-link:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  background: #F9FAFF;
  -webkit-box-shadow: 0px 12px 30px rgba(71, 71, 71, 0.15);
          box-shadow: 0px 12px 30px rgba(71, 71, 71, 0.15);
}

.choose__image-box {
  width: 60px;
  height: 60px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.box-1 {
  background: #6156DC;
}

.box-2 {
  background: #EF6010;
}

.box-3 {
  background: #A73EED;
}

.choose__cards-title {
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
  white-space: nowrap;
}

.choose__cards-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  font-weight: 400;
  color: #8F8F8F;
}

.featured {
  padding-top: 59.5px;
  padding-bottom: 59.5px;
}
.featured .container {
  overflow: hidden;
}

.featured__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.featured__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  text-align: center;
  max-width: 543px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.featured__heading .featured__heading-title {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 400;
  color: #353434;
}
.featured__heading .featured__heading-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: 400;
  color: #A8A8A8;
}

.owl-carousel {
  margin-left: 762px;
}

.owl-stage-outer {
  padding: 50px 15px;
}

.featured__slider-item {
  -webkit-box-shadow: -1px 1px 20px rgba(128, 128, 128, 0.1);
          box-shadow: -1px 1px 20px rgba(128, 128, 128, 0.1);
  border-radius: 20px;
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 380px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.featured__slider-item:hover {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  cursor: pointer;
}
.featured__slider-item:hover .featured__slider-btns .slider-btns__heart {
  background: #FF5C00;
}
.featured__slider-item:hover .featured__slider-btns .slider-btns__apply {
  background: #544CAC;
  color: #fff;
}

.slider__inner {
  padding: 47px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured__slider-image {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #333;
  border: 4px solid #333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 100;
  margin-bottom: 20px;
}

.featured__slider-prof {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 2.5;
  font-weight: 400;
  color: #323232;
  white-space: nowrap;
}

.featured__slider-team {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  font-weight: 400;
  color: #4238AF;
  text-align: center;
  margin-bottom: 44px;
}

.featured__slider-salary,
.featured__slider-address {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
  color: #323232;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}
.featured__slider-salary span,
.featured__slider-address span {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  font-weight: 400;
  color: #898989;
}
.featured__slider-salary a,
.featured__slider-address a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 3.5714285714;
  font-weight: 400;
  color: #898989;
  margin-left: 15px;
}

.featured__slider-salary {
  gap: 5px;
}

.featured__slider-address {
  gap: 5px;
}

.featured__slider-salary::before {
  content: "";
  width: 16px;
  height: 18px;
  display: block;
  background: url(../../content/logos/logo-dollars.svg) center no-repeat;
}

.featured__slider-address::before {
  content: "";
  width: 16px;
  height: 18px;
  display: block;
  background: url(../../content/logos/logo-marker.svg) center no-repeat;
}

.featured__slider-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 33px;
  gap: 35px;
}
.featured__slider-btns .slider-btns__apply {
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 47px;
  color: #38318B;
  padding: 12px 22px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: rgba(56, 49, 139, 0.3294117647);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5625;
  font-weight: 400;
  white-space: nowrap;
}
.featured__slider-btns .slider-btns__apply:hover {
  background: transparent;
  color: #333;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.featured__slider-btns .slider-btns__apply:hover {
  background: #544CAC;
  color: #fff;
}

.slider-btns__heart {
  background: #F9FAFF;
  width: 49px;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.slider-btns__heart svg {
  -webkit-transform: translate(0px, 1px);
          transform: translate(0px, 1px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.slider-btns__heart:hover {
  background: #FF5C00;
}
.slider-btns__heart:hover svg {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.featured__btns-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__btn {
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 47px;
  color: #fff;
  padding: 12px 22px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #544CAC;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5625;
  font-weight: 400;
}
.featured__btn:hover {
  background: transparent;
  color: #333;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.slider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-transform: translate(-455px, -337px);
          transform: translate(-455px, -337px);
}

.slider__arrow-next {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 7px;
  background: #EF6010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.slider__arrow-next:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.slider__arrow-prev {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 7px;
  background: #F9FAFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.slider__arrow-prev:hover {
  background: #EF6010;
}
.slider__arrow-prev:hover svg path {
  fill: #fff;
}
.slider__arrow-prev svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.customer {
  padding: 59.5px 0px;
}

.customers__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.customers__heading {
  text-align: center;
  max-width: 543px;
}

.customers__heading-title {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 400;
  color: #353434;
  margin-bottom: 20px;
}

.customers__heading-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: 400;
  color: #A8A8A8;
}

.customers__slider {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
  position: relative;
}

.customers__wrapper::before {
  content: "";
  width: 47px;
  height: 46px;
  display: block;
  background: url(../../content/logos/dots.svg);
  position: absolute;
  left: 0;
  bottom: 56px;
  z-index: 10;
}

.customers__content-image {
  width: 350px;
  height: 350px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-1 {
  background: url("../../content/avatars/big-avatar-1.png") bottom no-repeat, #CED5F4;
}

.image-2 {
  background: url("../../content/avatars/big-avatar-2.png") bottom no-repeat, #CED5F4;
}

.image-3 {
  background: url("../../content/avatars/big-avatar-3.png") bottom no-repeat, #CED5F4;
}

.customers__content {
  max-width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customers__title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
  color: #323232;
  margin-bottom: 13px;
  margin-top: 35px;
}

.customers__text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: 400;
  color: #868686;
  margin-bottom: 16px;
}

.customers__content-rating {
  margin-bottom: 8px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
  color: #323232;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.customers__content-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: 400;
  color: #383838;
  margin-bottom: 40px;
}

.customers__content-avatars {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.avatars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.avatars-list .avatars-item {
  overflow: hidden;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background: #EF6010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -18px;
  border: 4px solid #EF6010;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.avatars-list .avatars-item img {
  margin-top: 5px;
  margin-left: 2px;
}
.avatars-list .avatars-item:first-child img, .avatars-list .avatars-item:nth-child(3) img {
  margin-top: 0px;
}
.avatars-list .avatars-item:last-child {
  background: #A9A3E9;
  border: 4px solid #A9A3E9;
}

.avatars-item:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

.number {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: 400;
  color: #4238AF;
}

.customers__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-transform: translate(-133px, -102px);
          transform: translate(-133px, -102px);
  position: relative;
  z-index: 50;
}

.customers__arrow-prev {
  width: 41px;
  height: 41px;
  background: #EF6010;
  border-radius: 7px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.customers__arrow-prev:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.customers__arrow-next {
  width: 41px;
  height: 41px;
  background: #F3F5FF;
  border-radius: 7px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.customers__arrow-next svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.customers__arrow-next svg path {
  fill: #EF6010;
}
.customers__arrow-next:hover {
  background: #EF6010;
}
.customers__arrow-next:hover svg path {
  fill: #F3F5FF;
}

.statistics {
  padding-top: 59.5px;
  padding-bottom: 59.5px;
}

.statisticts__inner {
  background: #CED5F4;
  border-radius: 30px;
}

.statistics__list {
  padding: 74px 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.statistics__item {
  white-space: nowrap;
}

.statistics__item-title {
  color: #584EC6;
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 14px;
}

.statistics__item-text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.plans {
  padding: 59.5px 0;
}

.plans__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plans__heading {
  text-align: center;
  max-width: 543px;
  margin-bottom: 75px;
}

.plans__heading-title {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 400;
  color: #353434;
  margin-bottom: 20px;
}

.plans__heading-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: 400;
  color: #A8A8A8;
}

.plans-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plans-item {
  padding: 63px 62px 66px 65px;
  -webkit-box-shadow: -1px 1px 20px rgba(128, 128, 128, 0.1);
          box-shadow: -1px 1px 20px rgba(128, 128, 128, 0.1);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 71px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.plans-item:hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  background: #F9FAFF;
  -webkit-box-shadow: 0px 12px 30px rgba(71, 71, 71, 0.15);
          box-shadow: 0px 12px 30px rgba(71, 71, 71, 0.15);
}

.plans-upper__title {
  color: #4238AF;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 31px;
}

.plans-upper__price {
  color: #353434;
  font-family: "Oswald", sans-serif;
  font-size: 2.8125rem;
  line-height: 1.2222222222;
  font-weight: 400;
  margin-bottom: 24px;
}

.plans-upper__text {
  color: #8A86B9;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.premium .plans-middle__text:last-child::before {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.plans-middle__text {
  color: #A8A8A8;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: 400;
  margin-bottom: 19px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}

.plans-middle__text::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 50%;
  background: url(../../content/logos/check.svg);
}

.plans-item:first-child .plans-middle__text::before {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.plans-btn {
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  color: #fff;
  padding: 12px 22px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #544CAC;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
}
.plans-btn:hover {
  background: transparent;
  color: #333;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer {
  background: #DBE2FF;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 117px 0px 98px 0px;
}

.footer-list__item {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  line-height: 1.0833333333;
  font-weight: 400;
  color: #353434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}

.footer-list__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer-list__menu-item {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 400;
  color: #717171;
}

.footer-list__menu-link {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer-list__menu-link:hover {
  color: black;
}

.line {
  width: 100%;
  height: 2px;
  background: #625BAE;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 18px 0;
}

.footer__bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 175px 0px 130px;
  gap: 10px;
}

.footer__bottom-item {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 2.1666666667;
  font-weight: 600;
  color: #3A2E5C;
  overflow: hidden;
}

.footer__bottom-link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.footer__bottom-link:before {
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: -100%;
  background: #EF6010;
}

.footer__bottom-link:hover {
  color: #8f3a0a;
}
.footer__bottom-link:hover:before {
  left: 0;
}

.footer__bottom-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link {
  width: 29px;
  height: 29px;
  display: block;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.socials__link svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.socials__link:hover {
  background: #979797;
}
.socials__link:hover svg path {
  fill: #fff;
}

@media screen and (max-width: 1280px) {
  .customers__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .customers__slider .slider__arrows {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .customers__slider .customers__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .customers__content-image {
    width: 300px;
    height: 300px;
    background-attachment: fixed;
    background-size: 80% 80%;
  }

  .customers__content {
    max-width: 530px;
  }

  .customers__arrows {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@media screen and (max-width: 1024px) {
  .works__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .works__video {
    width: 350px;
    height: 350px;
    margin-left: 0px;
  }

  .owl-carousel {
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .owl-stage-outer {
    padding: 50px 55px;
  }

  .featured__slider-item {
    margin: 0;
  }

  .slider__arrows {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .customer *::before {
    content: none;
  }

  .featured__btns-box {
    margin-top: 40px;
  }

  .customers__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0px;
  }

  .customers__content-image {
    width: 150px;
    height: 150px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
@media screen and (max-width: 1000px) {
  .burger {
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    gap: 4px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 15px;
    left: 30px;
    z-index: 120;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .burger span {
    width: 25px;
    height: 2px;
    display: block;
    background: #333;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .burger .up {
    width: 10px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .burger .mid {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .burger .bot {
    width: 10px;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  @-webkit-keyframes burger-lineup {
    0% {
      width: 10px;
      -webkit-transform: rotate(0) translateY(0);
              transform: rotate(0) translateY(0);
    }
    25% {
      width: 25px;
      -webkit-transform: rotate(0) translateY(0);
              transform: rotate(0) translateY(0);
    }
    50% {
      -webkit-transform: rotate(0) translateY(0);
              transform: rotate(0) translateY(0);
    }
    100% {
      -webkit-transform: rotate(45deg) translateY(8px);
              transform: rotate(45deg) translateY(8px);
      width: 25px;
    }
  }

  @keyframes burger-lineup {
    0% {
      width: 10px;
      -webkit-transform: rotate(0) translateY(0);
              transform: rotate(0) translateY(0);
    }
    25% {
      width: 25px;
      -webkit-transform: rotate(0) translateY(0);
              transform: rotate(0) translateY(0);
    }
    50% {
      -webkit-transform: rotate(0) translateY(0);
              transform: rotate(0) translateY(0);
    }
    100% {
      -webkit-transform: rotate(45deg) translateY(8px);
              transform: rotate(45deg) translateY(8px);
      width: 25px;
    }
  }
  @-webkit-keyframes burger-linebot {
    0% {
      width: 10px;
      -webkit-transform: rotate(0) translateY(0);
              transform: rotate(0) translateY(0);
    }
    25% {
      width: 25px;
      -webkit-transform: rotate(0) translateY(0);
              transform: rotate(0) translateY(0);
    }
    50% {
      -webkit-transform: rotate(0) translateY(0);
              transform: rotate(0) translateY(0);
    }
    100% {
      -webkit-transform: rotate(-45deg) translateY(-8px);
              transform: rotate(-45deg) translateY(-8px);
      width: 25px;
    }
  }
  @keyframes burger-linebot {
    0% {
      width: 10px;
      -webkit-transform: rotate(0) translateY(0);
              transform: rotate(0) translateY(0);
    }
    25% {
      width: 25px;
      -webkit-transform: rotate(0) translateY(0);
              transform: rotate(0) translateY(0);
    }
    50% {
      -webkit-transform: rotate(0) translateY(0);
              transform: rotate(0) translateY(0);
    }
    100% {
      -webkit-transform: rotate(-45deg) translateY(-8px);
              transform: rotate(-45deg) translateY(-8px);
      width: 25px;
    }
  }
  .burger--active {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  .burger--active .up {
    -webkit-animation: burger-lineup 0.5s 0.5s forwards 1;
            animation: burger-lineup 0.5s 0.5s forwards 1;
    background: #fff;
  }
  .burger--active .mid {
    opacity: 0;
  }
  .burger--active .bot {
    -webkit-animation: burger-linebot 0.5s 0.5s forwards 1;
            animation: burger-linebot 0.5s 0.5s forwards 1;
    background: #fff;
  }

  .header .container {
    padding: 0;
  }

  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    background: rgba(245, 247, 255, 0.6117647059);
    padding: 15px 0;
    z-index: 100;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: auto;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .header__top--shadow {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 0px 5px #333;
            box-shadow: 0px 0px 5px #333;
  }

  .header__top-btns {
    line-height: 1;
  }

  .header__top-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }

  .header__top--active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  .header__top-nav .top-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }

  .header__body {
    padding: 200px 15px 0px 15px;
  }

  .logos__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__bottom-nav {
    margin: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .header__body-image {
    display: none;
  }

  .header__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px 15px 0px 15px;
  }

  .owl-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .owl-stage-outer {
    padding: 50px 0;
  }

  .statistics__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .statistics__list .statistics__item {
    white-space: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 29%;
            flex: 1 1 29%;
    text-align: center;
  }

  .footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }

  .footer-list__menu-item {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    line-height: 1.8333333333;
    font-weight: 400;
  }

  .footer__bottom-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    gap: 5px;
  }

  .footer__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .header__body-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__body-btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slider__inner {
    padding: 27px 55px;
  }

  .featured__slider-item {
    width: auto;
  }

  .plans-item {
    padding: 43px 42px 46px 45px;
    gap: 40px;
  }
}
@media screen and (max-width: 410px) {
  .header__body-title {
    font-family: "Oswald", sans-serif;
    font-size: 2.6875rem;
    line-height: 1.2790697674;
    font-weight: 400;
  }

  .header__body-text {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    line-height: 2;
    font-weight: 400;
  }

  .choose__heading-text {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    line-height: 2;
    font-weight: 400;
  }

  .featured__heading .featured__heading-text {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    line-height: 2;
    font-weight: 400;
  }

  .customers__heading .customers__heading-text {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    line-height: 2;
    font-weight: 400;
  }

  .plans__heading-text {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    line-height: 2;
    font-weight: 400;
  }

  .logos__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 350px) {
  .header__body-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .works__video {
    width: 200px;
    height: 200px;
  }
}